service: serverless-todo-app

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  environment:
    DATABASE_URL: ${env:DATABASE_URL}

functions:
  app:
    handler: src/index.handler
    events:
      - http:
          path: todos
          method: get
      - http:
          path: todos/{id}
          method: get
      - http:
          path: todos
          method: post
      - http:
          path: todos/{id}
          method: put
      - http:
          path: todos/{id}
          method: delete
